
---
// src/pages/index.astro
import HeroSection from '../components/HeroSection.astro';
---

<html>
<head>
  <title>MATHELON</title>
</head>
<body>
  <HeroSection 
    philippImage="/images/philipp-weissel.jpg"
    productImage="/images/pendelleuchte.jpg"
  />
  <!-- Weitere Sektionen -->
</body>
</html>