---
// src/pages/index.astro
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import '../style.css';

// Homepage-Inhalt laden
const homepageContent = await getEntry('homepage', 'homepage');
const { Content } = await homepageContent.render();
const data = homepageContent.data;
---

<html>
<head>
  <meta charset="utf-8" />
  <title>MATHELON</title>
</head>
<body>
   <Header />
  <main>
    <slot />
  </main>
    <HeroSection />
  <main>
    <slot />
  </main>
</body>
</html>