
---
// src/pages/index.astro
import HeroSectionPW from '../components/HeroSectionPW.astro';
import '../style.css';
---

<html>
<head>
  <meta charset="UTF-8">
  <title>MATHELON</title>
</head>
<body>
  <HeroSectionPW 
    philippImage="/images/philipp-weissel.jpg"
    productImage="/images/pendelleuchte.jpg"
  />
  <!-- Weitere Sektionen -->
</body>
</html>